.collapsible h3 {
  overflow-wrap: break-word;
  text-align: center;
}
.collapsible p {
  text-align: justify;
}

.collapsible span {
  text-align: justify;
  font-weight: bold;
  color: rgb(255, 154, 38);
}

.collapsible .mainPhoto {
  border: 1px solid rgb(255, 154, 38);
  border-radius: 25%;
}
