.InternalUL ul {
  list-style: none;
  margin: 10px;
  padding: 0;
  font: normal 16px/22px Arial;
  color: #999;
  counter-reset: stepCount;
}
.circleListV li {
  overflow: hidden;
  position: relative;
  padding: 0 0 45px 80px;
}

.circleListV li .buttons {
  font-size: 32px;
  margin: 0;
  position: absolute;
  /* top: 50%;
  left: 50%; 
  -ms-transform: translate(-31px, 3px); /* powinno być niby -35px, -10px, ale w commons style buttons ma padding 4px*/
  transform: translate(-73px, 12px);
  color: #333;
  transition: all 0.15s ease-in;
  border-radius: 50%;
  outline: none;
}

.circleListV li::before {
  content: '';
  position: absolute;
  left: 30px;
  top: 30px;
  width: 35px;
  height: 1999px;
  border: 2px solid lightblue;
  border-width: 2px 0 0 2px;
  counter-increment: stepCount;
  /* content: counter(stepCount); */
  z-index: -2;
}
.circleListV li:last-child::before {
  border-width: 2px 0 0;
}
.circleListV li::after {
  content: '';
  /* content: counter(stepCount); */
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  text-align: center;
  margin: 0;
  background: #fff;
  border: 2px solid lightblue;
  border-radius: 50%;
  height: 60px;
  line-height: 60px; /* same as height! */
  z-index: -1;
}
.circleListV li.current,
.circleListV li.passed {
  color: #000;
}
.circleListV li.current::before {
  border-top-color: dodgerblue;
}
.circleListV li.current::after {
  border-color: dodgerblue;
  background: dodgerblue;
}
.circleListV li.passed::before,
.circleListV li.passed::after {
  border-color: dodgerblue;
}
